$boder-color: #cccccc;
$header-color: #eeeeee;

body {
    font-family: Consolas;
}

.clear {
    clear: both;
}

.mst-controls button {
    margin: 0 10px 5px 0;
}

.mst-group {
    width: 400px;
    margin: 0 0 10px 0;
	border: 1px solid $header-color;
    
    .mst-group-header {
        padding: 2px 0px;
        background: $header-color;
        
        .mst-group-status, .mst-group-selector, .mst-group-status, .mst-group-name, .mst-group-time {
            float: left;
        }
    }

    .mst-method-container {
        height: 22px;

        .mst-method-status, .mst-method-selector, .mst-method-status, .mst-method-name, .mst-method-time {
            float: left;
        }

        .mst-method-name {
            width: 350px;

            label {
                display: block;
            }
        }

        .mst-method-name:hover {
            cursor: pointer;
        }
    }

    .mst-method-container:hover {
        background: $header-color;

    }
}